{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<dir>
  <h3>Об авторе</h3>
</dir>
<dir>
  <dir>
    <dir>
      <dir>
        <dir>
          <dir>
            <h3>Всем, привет! Меня зовут, Сайф</h3>
            <a href="https://github.com/skyline8880">
              мой профиль на github
            </a>
          </dir>
        </dir>
      </dir>
    </dir>
  </dir>
</dir>
<dir>
  <dir>
    <p>
      Добро пожаловать на страницу, где вы можете узнать немного обо мне.
    </p>
  </dir>
</dir>
<div>
  <dir>
    <p>
      Изучать программирование, я начал в начале 2021 года самостоятельно.
      Привлёк моё внимание язык Python, возможно в силу своей популярности,
      а может по причине упрощённого порога вхождения. Самостоятельное
      обучение длилось почти 6 месяцев. Я начал понимать, что мне
      необходимо перейти на другой метод обучения. Я начал искать различные
      образовательные платформы, которых довольно много. Выбор пал на
      Яндекс.Практикум. В августе 2021 года я начал обучение и данный
      продукт, является результатом моего обучения. В процессе обучения,
      я сталкивался со сложностями, но это не снижало моей мотиваци, ведь
      это неотъемлемый фактор развития.
    </p>
  </dir>
</div>
{% endblock %}