{% extends 'base.html' %}
{% block title %}{{ group.title }}{% endblock %}
{% load static %}
{% block content %}
  <main>
    <div class="container">
    {% for post in page_obj %}
      {% if forloop.first %}
        <h1>
          {% block header %}
            {{ group.title }}
          {% endblock %}
        </h1>
        <p>
          {{ group.description }}
        </p>
      {% endif %}
          <article>
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
            <p>
              {{ post.text|linebreaksbr }}
            </p>
          </article>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </main>
{% endblock %}